.clear
  clear: both
.ui-accordion
  .ui-accordion-content
    padding: 5px

#schedule, #offering, #courses, #program-settings
  table
    width: 100%

    th, td
      padding: 0 10px
      text-align: left

      button, select
        width: 100%
    .schedule-duration
      &, & input[type=text]
        width: 80px


    .schedule-disable
      text-align: center

    input
      &[type="textbox"], &[type="email"], &[type="password"], &[type="tel"]
        width: 100%

  table:not(#program-meta) tr:not(:hover)
    .ui-select-container:not(.open):not(:hover) .select2-choice,
    .ui-select-container:not(.open):not(:hover) .select2-choices,
    td > input[type="text"]:not(:active):not(:hover):not(:focus),
    .ui-select-container:not(.open):not(:hover) .select2-choices,
    input[type="text"]:not(:active):not(:hover):not(:focus),
    input[type="text"]:not(:active):not(:hover):not(:focus)
      border-color: transparent
      background: transparent
      box-shadow: none

    .ui-select-container:not(.open) .select2-arrow
      display: none
#program-meta
  tr
    height: 40px
  th, td
    vertical-align: middle

#toast-container
  margin-bottom: 40px

#schedule
  .schedule-course-event
    width: 150px
  .schedule-teacher
    width: 200px
  .schedule-date, .schedule-date-input
    width: 100px
  .schedule-semester-section
    width: 70px
  .schedule-start-time input
    width: 100%
    min-width: 70px
  .schedule-add-row, .schedule-remove-row
    width: 100px
    text-align: center

    input, button
      width: 100%
  .ui-accordion-header
    padding-left: 30px
  tr:not(:hover)
    .select2-chosen
      margin-right: 0
    .ui-select-conteiner:not(.open):not(:hover) .ui-select-toggle
      display: none

#courses
  .course-credit
    width: 30px
  .course-code
    width: 100px
  .course-prerequisite
    width: 150px

#offering
  .offering-semester
    input
      width: 50px
  .offering-course
    width: 400px
  .add-semester, .remove-semester
    width: 100px
  .offering-sections .ui-select-dropdown
    display: none

#program-settings .add-row,
#program-settings .remove-row,
#offering .add-semester,
#offering .remove-semester,
#courses .add-course,
#courses .remove-course
  text-align: center
  width: 100px

  button, input[type="button"]
    text-align: center
    width: 100%


#program-settings

  .starting-id, .ending-id, .tution-fee, .activity-fee, .syllabus
    & input[type="text"], & select
      width: 100px

  .input-group
    float: left

    &:not(:last-child)
      margin-right: 30px


#evaluation-questions

  .aspect, .question
    &-move
      width: 30px

    &-weight
      width: 50px

    &-name
      width: 100%

    &-remove
      padding: 0 5px

    &.removed
      opacity: 0.5

  .question
    display: flex
    margin: 5px -10px
    background-color: #FFF

    > *
      height: 30px
      display: block
      float: left
      margin: 5px 10px

    *
      line-height: 30px

  .aspect
    border: 1px solid #e5e5e5
    width: 700px
    max-width: 100%
    margin: 9px 0 0

    .aspect-header
      clear: both
      border: 1px solid #ddd
      background: #FAFAFA
      color: #23282d
      overflow: hidden
      -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04)
      box-shadow: 0 1px 1px rgba(0,0,0,.04)
      display: flex

      &
        > *
          height: 30px
          display: block
          float: left
          margin: 5px 10px

        *
          line-height: 30px

    .aspect-body
      background: #FFF
      padding: 5px 10px

  .aspects
    margin-bottom: 20px

  .questions
    min-height: 40px

.lute-evaluation-report-table
  width: 100%
  border: 1px solid dimgray
  border-collapse: collapse

  th, td
    text-align: left
    padding: 10px

  tr.placeholder
    height: 20px
    border: none

.point
  cursor: pointer

.spin-it
  -webkit-animation-name: spin
  -webkit-animation-duration: 1000ms
  -webkit-animation-iteration-count: infinite
  -webkit-animation-timing-function: linear
  -moz-animation-name: spin
  -moz-animation-duration: 1000ms
  -moz-animation-iteration-count: infinite
  -moz-animation-timing-function: linear
  -ms-animation-name: spin
  -ms-animation-duration: 1000ms
  -ms-animation-iteration-count: infinite
  -ms-animation-timing-function: linear

  animation-name: spin
  animation-duration: 1000ms
  animation-iteration-count: infinite
  animation-timing-function: linear

@-ms-keyframes spin
  0%
    -ms-transform: rotate(0deg)
  100%
    -ms-transform: rotate(360deg)

@-moz-keyframes spin
  0%
    -moz-transform: rotate(0deg)
  100%
    -moz-transform: rotate(360deg)

@-webkit-keyframes spin
  0%
    -webkit-transform: rotate(0deg)
  100%
    -webkit-transform: rotate(360deg)

@keyframes spin
  0%
    transform: rotate(0deg)

  100%
    transform: rotate(360deg)
