*
  box-sizing: border-box

body
  background: #eee
  color: rgba(51, 51, 51, 0.7)

  @media (max-width: 767px)
    padding-top: 0

section
  margin-top: 20px
  margin-bottom: 20px

strong
  font-weight: bold

h1, h2, h3, h4, a
  font-family: 'Roboto', sans-serif
  color: #455a64

h2
  margin-bottom: 20px

figure
  max-width: 100%
  margin: 0

  img
    margin: 0 auto

  figcaption
    text-align: center

.alert
  border: none
  border-radius: 0
  margin-bottom: 0
  white-space: pre-line

.welcome-message-container > .wpb_wrapper
  padding-top: 60px
  padding-bottom: 5px

.wpb_row, .wpb_content_element
  margin-bottom: 0 !important

.wpb_column
  margin-bottom: 30px

.small-margin
  margin: 15px

.box-margin
  margin-bottom: 30px

.box-spacing
  @extend .box-margin
  padding: 30px
  overflow: hidden

.box
  @extend .box-spacing
  background-color: #FFF
  +shadow(0, 1px, 4px, 0, rgba(0, 0, 0, 0.26))

.btn:hover
  color: #FFF

.btn-custom
  outline: none !important
  padding: 10px 30px
  font-size: 14px
  line-height: 20px
  margin-top: 1rem
  border: none
  color: #fff
  border-radius: inherit
  display: inline-block
  text-align: center
  white-space: nowrap
  vertical-align: middle
  cursor: pointer
  background: $main-color !important
  +shadow(0, 1px, 4px, 0, rgba(0, 0, 0, 0.26))

  a
    color: #fff

    &:hover, &:focus, &:active
      color: #fff

.btn-custom:hover, .btn-custom:focus, .btn-custom:active
  color: #fff

.btn-custom-alt
  @extend .btn-custom

  background: $text-color !important

.custom-dropdown-btn
  padding: 6px 15px
  font-size: 14px
  line-height: 24px
  margin-top: 5px
  border: 1px solid #ddd
  color: #8f8f8f
  font-weight: bold
  border-radius: inherit
  display: inline-block
  text-align: center
  white-space: nowrap
  vertical-align: middle
  cursor: pointer
  background: #fff

.dropdown-menu
  left: 50%

.btn
  .caret
    margin-left: 10px

.welcome-message
  display: block
  margin-bottom: 15px
  line-height: 1.42857143
  background-color: #fff
  border: none
  border-radius: 0px
  +shadow(0, 1px, 4px, 0, rgba(0, 0, 0, 0.26))

  .caption
    padding: 15px

    h3
      text-align: center
      padding-top: 10px
      padding-bottom: 10px
      color: $main-color

    h4
      color: $main-color
      line-height: 30px

    p

      line-height: 24px
      margin-top: 10px
      padding-bottom: 10px

.thubnail-image
  width: 130px
  height: 130px
  background-color: #fff
  margin-top: -60px
  display: inline-block
  +border-radius(50%)
  border: 5px solid #fff
  +shadow(0, -4px, 4px, -3px, rgba(0, 0, 0, 0.26))

  img
    +border-radius(50%)
    vertical-align: middle

.entry-header, .page-header
  text-align: left
  padding-bottom: 0px
  margin-left: 0px

  h1
    margin-top: 0px
    margin-bottom: 30px

  @media (max-width: 767px)
    text-align: center

.list-group
  margin-bottom: 0px

.list-group-item
  list-style-type: none
  margin-bottom: 1px
  border: none
  padding: 10px 10px
  text-align: left

.badge
  margin-right: 10px
  background: none
  color: #000

.badge-color
  color: red

.fa
  color: $main-color

@media (max-width: 767px)
  .caption
    h4, p
      text-align: center !important

.quote
  padding: 10px 15px 10px 15px

.highlight-warning
  background: #F1F5C7
  margin-bottom: 10px

.highlight-error
  background: pink

.blockquote
  margin-top: 10px
  margin-bottom: 10px

  .fa
    margin-top: 30px
    font-size: 80px
    color: #bdbdbd
    font-style: italic

.modal
  z-index: 9999

.modal-body
  padding: 0px
  .list-group-item
    overflow: hidden
    padding: 0px 0px
    margin-bottom: 0px
    border-bottom: 1px solid #EFE4E4

  .list-group-item:hover
    background: #F3F3F3

.title h4
  padding: 0px

.list
  padding-left: 18px

.input-field
  label:not([for]), label[for=""]
    pointer-events: none

label.required:after
  content: " *"
  color: red

.pager
  .previous, .next
    a
      border-radius: 0

.event
  .event-thumb
    margin: -30px -30px -12px -30px

  .event-title
    text-align: left
    line-height: 26px
    margin-top: 30px
    margin-left: 10px
    font-size: 18px
    a
      color: $main-color

  .events-date
    background: $main-color
    color: #fff
    margin-left: -30px
    padding-left: 22px
    padding-right: 20px
    padding-top: 14px
    padding-bottom: 14px
    font-size: 18px

  p
    padding: 15px
    text-align: left

.carousel
  .slick-slide[aria-hidden="true"]
    visibility: hidden

@media (max-width: 767px)
  .caption
    h4, p
      text-align: center !important

.slick-track
  overflow: visible

.slick-list
  overflow: visible

.slick-next, .slick-prev
  position: absolute
  margin: 0
  padding: 20px
  top: 50%
  top: -webkit-calc(50% - 20px)
  top: -moz-calc(50% - 20px)
  top: calc(50% - 20px)
  text-indent: -200px
  +shadow(0, 1px, 4px, 0, rgba(0, 0, 0, 0.26))
  +border-radius(100px)

  @media (max-width: 767px)
    display: none !important

.slick-next
  background: $main-color url('img/next-arrow.png') 50% 50% no-repeat !important
  right: -30px

.slick-prev
  background: $main-color url('img/prev-arrow.png') 50% 50% no-repeat !important
  left: -30px

.select2-container
  .select2-dropdown
    +shadow(0, 1px, 4px, 0, rgba(0, 0, 0, 0.26))
    border: none

  .select2-search__field
    border-top: none !important
    border-left: none !important
    border-right: none !important

  .select2-selection--single
    background-color: #fff
    border: none
    border-radius: 0px !important
    border-bottom: 1px solid $input-border-color

  .select2-results__option--highlighted[aria-selected]
    background-color: #c3d136
    color: white

  &:focus, & .selection:focus, & .select2-selection:focus
    outline: none

  .select2-search--dropdown .select2-search__field
    border: 1px solid #aaa

  .select2-selection
    line-height: 45px

.fc-button
  @extend .btn
  @extend .btn-custom
  @extend .waves-effect

  padding: 0 10px
  margin: 0

  &:hover
    z-index: 10

#result-form
  .input-field
    margin-top: 0

  > .row
    margin-bottom: 15px

.semester
  page-break-inside: avoid

@media print
  table .show-print
    display: table-cell !important

#student-info
  margin-bottom: 30px

.wpb_gallery_slides .slides
  height: 100%
  overflow: hidden

.flexslider
  margin-bottom: 30px !important

  .slides img
    height: auto

.flex-caption
  width: 100%
  padding: 2%
  position: absolute
  margin-bottom: 0
  left: 0
  bottom: 0
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.6) 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.6)))
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.6) 100%)
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.6) 100%)
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.6) 100%)
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.6) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00999999', endColorstr='#cc000000', GradientType=0)
  color: #fff
  text-align: center
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .3)
  font-size: 14px
  line-height: 18px

.gfield_label
  font-size: 1rem
  margin-bottom: 0

.ginput_container
  margin-bottom: 0

.gfield_date_day, .gfield_date_month, .gfield_date_year
  input
    height: 20px
    margin-bottom: 0

.gform_previous_button
  margin-bottom: 0 !important

.gfield_list_cell input
  height: 30px
  margin-bottom: 0
