.tef-aspect-section
  margin-top: 50px

#evaluation-form
  .evaluation-options > [class*="col-"]
    margin-top: 20px

  .select-teacher
    .btn
      background: transparent
      box-shadow: none
      -webkit-box-shadow: none
      -moz-box-shadow: none
      border: none
      border-radius: 0px !important
      border-bottom: 1px solid $input-border-color
      color: #555
      line-height: 28px
      height: 3rem
      padding: 8px 20px 8px 8px
      text-overflow: ellipsis
      white-space: nowrap
      text-transform: none

    *
      outline: none !important

    .btn-default-focus
      background: transparent
      box-shadow: none

    .dropdown-menu
      left: 0

  .invalid
    background: #f2dede

@media screen and (max-width: $screen-xs-max)
  .tef-table
    &, tbody, thead, tr, .tef-aspect
      display: block

    .tef-scale
      display: inline-block
      padding-left: 0
      padding-right: 0
      border-top: none
      margin-right: 10px

      &:last-of-type
        margin-right: 0

@media screen and (min-width: $screen-sm-min)
  .tef-table .tef-scale label
    text-indent: -4000px
