.head
	z-index: 9999
	position: relative
	background-color: $dark-color
	+shadow(0, 1px, 4px, 0 ,rgba(0, 0, 0, 0.26))
	

	@media (max-width: 767px)
		margin-top: 0

		.admin-bar &
			margin-top: 0
	
	.logo
		padding-top: 20px
		padding-bottom: 15px
		
		.img-responsive
			display: inline-block
		
		.brand-img
			width: 110px
		
		.site-label
			width: 450px
		
		@media (max-width: 767px)
			text-align: center
	
	.navbar-primary
		a
			color: rgba( 255, 255, 255, 0.5 )
			font-weight: normal
			font-family: 'Roboto', sans-serif

.navbar
	border-radius: 0px
	border: none
	margin-bottom: 0
	border-top: 1px solid rgba( 0, 0, 0, 0.2 )
	min-height: 0
	background-color: $dark-color
	
	.sticky-nav &
		+shadow(0, 1px, 4px, 0 ,rgba(0, 0, 0, 0.26))
	
	.sub-menu .current-menu-item a
		color: #FFF !important
	
	.menu-item-has-children
		> a::after
			content: "\f107"
			font: normal normal normal 14px/1 FontAwesome
			margin-left: 10px
			color: $main-color
			transition: 0.5s
			display: inline-block
		
		@media (min-width: 768px)
			&:hover > a::after
				-ms-transform: rotate(180deg)
				-webkit-transform: rotate(180deg)
				transform: rotate(180deg)
				color: #FFF
	
	.nav > li
		border-bottom: 2px solid $dark-color
		
		> a:hover, > a:focus
			background-color: transparent
			
		.sub-menu
			display: none
			
	@media (max-width: 767px)
		padding-bottom: 0
		
		li
			text-align: center
		
		.menu-item-has-children.active > a::after
			-ms-transform: rotate(180deg)
			-webkit-transform: rotate(180deg)
			transform: rotate(180deg)

		.sub-menu
			display: none
			text-align: center
			background-color: $darker-color
			
			li
				padding: 10px
			
	@media (min-width: 768px)
		.nav > li
			&.current-menu-item, &.current-menu-ancestor
				border-color: rgba( $main-color, 1 )
				transition-duration: 0.5s
				
				&:hover
					border-color: rgba( $main-color, 0 )
				
				a
					color: #FFF
					
			&:hover, &:focus
				> a
					&, &:focus
						color: #FFF
						background-color: $darker-color
				
				.sub-menu
					display: block
					position: absolute
					width: 250px
					z-index: 10
					background-color: $darker-color
					+shadow(0, 1px, 4px, 0 ,rgba(0, 0, 0, 0.26))
					
					a
						display: block
						padding: 15px
						text-decoration: none
						color: rgba( 255, 255, 255, 0.5 )
					
						&:hover
							color: #FFF
							display: block
							padding: 15px
							margin: 0
							white-space: normal
			
	@media (min-width: 1200px)
		.nav > li
			padding: 0 10px
	
	@media (max-width: 991px)
		.nav > li
			padding: 0
			

	.navbar-toggle
		@media (max-width: 767px)
			margin-bottom: -60px
			pointer-events: all
				
	.navbar-nav
		@media (max-width: 767px)
			margin-bottom: 0
			margin-top: 0
			
			li, li > a
				position: static



@media  (max-width: 767px)
	.navbar-toggle, .navbar-toggle:focus
		background: $darker-color
		margin-right: 15px
		margin-top: 20px
		position: absolute
		right: 0

	.icon-bar
		background: #fff