.intro
	margin-top: 30px
	margin-bottom: 30px

.body.box
	.featured-image-container
		margin: -30px -30px 30px -30px
		
		@media (min-width: 768px)
			.archive &
				margin: -30px 0 -30px -30px

@media  (max-width: 991px) and (min-width: 768px)
	.member
		margin-top: 40px

@media  (max-width: 767px)
	.board-member
		.member
			margin-top: 60px

.latest-news
	background: #fff
	padding: 15px 0
	overflow: hidden
	+shadow(0, 1px, 4px, 0 ,rgba(0, 0, 0, 0.26))

	@media  (max-width: 767px)
		text-align: center

.media
	text-align: left
	background: #fff
	border-bottom: 1px solid #eee
	padding: 20px
	margin: 0

.media-object
	@media  (max-width: 767px)
		width: 100%
		margin-top: 20px

.news-body
	padding-bottom: 20px
	
	a
		color: $main-color
		padding-bottom: 10px
		
	@media  (max-width: 767px)
		padding-left: 15px
		text-align: center
		margin-top: 20px

.media-heading
	color: $main-color
	line-height: 24px
	font-size: 18px

.archive-btn	
	float: right

	@media  (max-width: 767px)
		float: none

.latest-event	
	h4
		margin-top: -30px
		margin-left: -5px
		text-align: left
		line-height: 26px

	.event-title
		margin-top: 30px
		margin-left: 10px
		a
			color: $main-color
	p
		padding: 15px
		text-align: left

.campus-facility	
	a
		text-decoration: none

		&:hover
			color: #455a64

.campus-location
	margin-top: 10px
	margin-bottom: 30px

.campus
	margin: 0px
	padding: 0px

	.thubnail-cus
		padding: 1px
		margin-bottom: 0px

		img
			height: 140px
			+shadow(0, 1px, 4px, 0 ,rgba(0, 0, 0, 0.26))


		h4
			background: #fff
			margin: 0px
			padding-top: 15px
			padding-bottom: 15px
			color: $main-color
			text-decoration: none

			&:hover
				background: url(../img/23.png)
				background-repeat: no-repeat
				background-position-y: -10px
				margin: 0px
				padding-top: 15px
				padding-bottom: 15px
				opacity: 0.9
				color: $main-color
				@media  (max-width: 767px)
					background: initial

		@media  (max-width: 991px) and (min-width: 768px)
			img
				height: 110px

			h4
				background: #fff
				margin: 0px
				padding-top: 15px
				padding-bottom: 15px
				color: $main-color
				text-decoration: none

				&:hover
					background: $footer-bottom-bg
					margin: 0px
					padding-top: 15px
					padding-bottom: 15px
					opacity: 0.9
					color: $main-color

.googlemap-location
	overflow: hidden

#map
	width: 100%
	height: 350px
	+shadow(0, 2px, 6px, 0 ,rgba(0, 0, 0, 0.26))

.mapcampustitle
	color: #c3d136

.footer-sidebar
	background: $footer-top-bg
	padding-top: 30px
	padding-bottom: 30px
	color: rgba(255, 255, 255, 0.7)
	text-align: left

	.widget-title
		color: $main-color
		font-size: 18px
		
	ul
		padding: 0px

		li
			list-style-type: none
			margin-top: 5px

			a
				color: rgba(255, 255, 255, 0.7)
				text-decoration: none

		li:before 
			content: " •  "
			color: $main-color
			
			@media  (max-width: 767px)
				content: ''

	address
		text-align: left
		color: #fff

		a
			color: #fff

	@media  (max-width: 767px)
		text-align: center
		
		ul
			list-style-type: none
			text-align: center

.footer-bottom
	background: $footer-bottom-bg
	padding-top: 20px
	padding-bottom: 20px
	margin: 0 auto

.footer-nav
	text-align: center
	margin-top: 10px
	margin-bottom: 10px
	
	.footer-navbar ul
		float: none
		display: inline-block

		li
			list-style-type: none
			border-right: 1px solid $main-color
			padding-left: 10px
			padding-right: 10px

			@media  (max-width: 767px)
				border-right: 0px

			a
				padding: 0
				color: rgba(255, 255, 255, 0.7)
				text-align: center

			a:hover
			
				background: none

			&:last-child
				border-right: none

.copyright
	color: rgba(255, 255, 255, 0.7)

	a
		color: $main-color

.dept-info
	h5
		text-align: left
		font-weight: bold
	p
		text-align: left

	@media  (max-width: 767px)
		h5, p
			text-align: center

	.figure-title
		margin-left: 0px


	.media-body
		padding: 0px
		margin-left: 10px
		text-align: left
		
.notice-shortcode
	+shadow(0, 1px, 4px, 0, rgba(0, 0, 0, 0.26))
	
	li
		padding: 30px
		
	h1
		margin: 0
		font-size: 20px
		float: left
	p
		clear: both
		margin: 0
		
	.badge
		padding-left: 0
	
	.archive-btn
		margin: 0

.academic
	padding-left: 15px
	margin-bottom: 20px

	@media  (max-width: 767px)
		h5,p
			text-align: center

	ul
		padding-left: 0px

		li
			list-style-type: none
			text-align: left
			padding-bottom: 10px

			@media  (max-width: 767px)
				text-align: center

			a
				color: $main-color
				text-decoration: underline

.pagination 
	display: inline-block
	padding-left: 0
	margin: 20px 0
	border-radius: 4px
	float: right

	li  

		span, a
			position: relative
			float: left
			padding: 6px 12px
			margin-left: -1px
			line-height: 1.42857143
			color: $footer-top-bg
			text-decoration: none
			background-color: transparent
			border: initial

		a:hover
			color: #23527c
			background-color: $main-color
			border-color: #ddd

		span:hover
			color: #23527c
			background-color: $main-color
			border-color: #ddd

		a:focus
			color: #23527c
			background-color: $main-color
			border-color: #ddd

		span:focus 
			color: #23527c
			background-color: $main-color
			border-color: #ddd

	li:first-child 
		a
			padding: 0px 0px

	li:last-child 
		a
			padding: 0px 0px

.latest_news
	overflow: hidden
	text-align: left

	p
		margin-top: 20px
		margin-bottom: 20px

.teacher-info
	text-align: left
	padding: 0

	h2
		margin-top: 0px
		margin-bottom: 5px
		color: #7F8384
		font-size: 18px
		text-decoration: none
	p
		color: #A9A8A8
		margin: 0

	.teacher-img
		img
			width: 100%
			margin: 0 !important
		
	.row
		padding: 20px 15px
		margin: 0
		border-bottom: 1px solid #bdbdbd
		height: 165px
		
		@media (min-width: 1200px)
			min-height: 170px
		@media (min-width: 992px) and (max-width: 1199px)
			min-height: 190px
		
	
	&:nth-child(even) .row
		border-left: 1px solid #bdbdbd
		margin-left: -1px
		
		@media (max-width: 767px)
			border-left: none
			margin-left: 0
	
	&:last-child .row, &:nth-child(odd):nth-last-child(2) .row
		border-bottom: none

.teacher-section
	background: #fff
	padding: 20px
	overflow: hidden
	+shadow(0, 1px, 4px, 0 ,rgba(0, 0, 0, 0.26))	

	@media  (max-width: 767px)
		text-align: center


.teacher-bio
	text-align: left
	@media  (max-width: 767px)
		text-align: center
	.teacher-img
		img
			width: 100%

.teacher-profile
	h1
		font-size: 20px
		margin-top: 0px
		margin-bottom: 5px
	
	h2
		font-size: 18px
		margin-top: 0

.teacher-contact
	margin-top: 20px
	margin-left: 15px


	p
		color: #5A5555
		overflow: hidden
			
		@media  (max-width: 767px)
			text-align: center

		strong
			text-align: left
			float: left
			@media  (max-width: 767px)
				text-align: center
			

		span
			text-align: left
			margin-left: 30px
			float: left
			@media  (max-width: 767px)
				text-align: center
	.mobile 
		span
			margin-left: 30px

			@media  (max-width: 767px)
				text-align: center

	.email 
		span
			margin-left: 42px

	.phone 
		span
			margin-left: 34px

.author-paragraph
	h2
		margin-top: 20px
		margin-bottom: 10px

.teacher-publication
	.figure-title
		margin-left: 0px

	a
		color: $main-color
		padding-top: 10px
		padding-bottom: 10px

.class_schedule
	text-align: left
	
	.filter
		*[class*="col-"]
			margin-top: 10px
			margin-bottom: 10px
			
			.select2-container
				max-width: 100%
			
			label
				width: 200px

.routine
	background-color: #fff
	
	@media (max-width: 767px )
		.fc-left, .fc-right
			float: none
			display: inline-block

.new-course .add
	margin-top: 5px
	height: 45px

.registered-courses-table
	.course-title
		text-overflow: ellipsis
		overflow: hidden
	
	td, th
		background-color: #FFF
		vertical-align: middle !important
		height: 60px
		padding: 5px 15px !important
	
	.close
		opacity: 0.5
		
		&:hover
			opacity: 1

.registration-snippet
	background-color: #fff
	padding: 30px
	text-align: center
	border: 1px solid #eee
	font-family: Roboto, sans-serif
	
	.title 
		font-size: 16px
		color: #455a64
		
		
	.figure
		font-size: 30px
		color: #c3d136 !important
		vertical-align: middle
		

.search-form
	.input-field
		margin-top: 10px
		
	button[type=submit]
		margin: 0

.comment-respond
	text-align: left

.comment-list
	text-align: left
	&, & .children
		padding-left: 20px
		list-style: none

	li
		margin-top: 20px
		
		article
			padding-left: 60px

	.comment-author
		float: left
		
		.fn
			margin-right: 10px
			display: inline-block
		
		img
			margin-left: -60px
			border-radius: 50%
			vertical-align: top
			margin-bottom: -50px
			display: block

	.comment-metadata
		float: left
		font-size: 12px
		
		time
			color: #AAA
			margin-right: 10px

	.comment-content
		clear: both
	
	span.says
		display: none
		

.campus-location
	margin-top: 10px
	margin-bottom: 30px

.campus
	margin: 0px
	padding: 0px
	background: #FFF
	transition-duration: 0.5s
	
	&:hover, &.active
		opacity: 0.9
		color: $main-color
		cursor: pointer
		background-color: $footer-bottom-bg
			
	address
		display: none

	.thubnail-cus
		padding: 1px
		margin-bottom: 0px
		
		img
			height: 140px
			+shadow(0, 1px, 4px, 0 ,rgba(0, 0, 0, 0.26))

		h4
			background: #fff
			margin: 0px
			padding-top: 15px
			padding-bottom: 15px								
			color: $main-color
			text-decoration: none
			
		

		@media  (max-width: 991px) and (min-width: 768px)
			img
				height: 110px

			h4
				background: #fff
				margin: 0px
				padding-top: 15px
				padding-bottom: 15px								
				color: $main-color
				text-decoration: none

.campus .mapcampustitle
	padding: 10px 0
	font-size: 18px
	line-height: 30px

.googlemap-location
	overflow: hidden
	+shadow(0, 1px, 4px, 0 ,rgba(0, 0, 0, 0.26))
	
#map
	width: 100%
	height: 350px
	+shadow(0, 1px, 4px, 0 ,rgba(0, 0, 0, 0.26))

.mapcampustitle
	color: #c3d136
	font-size: 16px
	line-height: 26px
	font-weight: bold