=background-image($images-name, $bg-repeat)
	background-image: url($images-name) 
	background-size: cover
	background-repeat: $bg-repeat
	-webkit-background-size: cover
	-moz-background-size: cover
	-o-background-size: cover
	-khtml-background-size: cover

=shadow($a, $b, $c, $d, $color )
	-webkit-box-shadow: $a $b $c $d $color
	-moz-box-shadow: $a $b $c $d $color
	box-shadow: $a $b $c $d $color

=border-radius( $r )
	border-radius: $r
	-moz-border-radius: $r
	-webkit-border-radius: $r