h1, h2, h3, h4, h5, h6 
    page-break-before: auto
    page-break-after: avoid

div 
    page-break-before: avoid
    page-break-after: auto

p 
    page-break-inside: avoid

html
    min-height: 100%
    
body 
    padding: 0 30px
    min-height: 100%

.sticky-wrapper
    display: none

a[href]:after 
    content: ""

.sidebar, .footer-sidebar, .footer-nav, .btn
    display: none

.background 
    display: none

.intro 
    margin-top: 0
    
    .container
        padding: 0

.box
    padding: 0

.copyright
    bottom: 0
    position: absolute
    left: 0
    
.entry-footer
    display: none
