.sidebar
	.row
		margin-left: 0
		margin-right: 0
	
	.widget
		background-color: #FFF
		margin-bottom: 30px
		text-align: left
		overflow: hidden
		padding: 15px
		
		+shadow( 0, 1px, 4px, 0, rgba( 0, 0, 0, 0.26 ) )
		
		h1.widget-title
			font-size: 24px
			color: $main-color
			margin-top: 0
		
.spotlight
	background: $main-color !important
	padding: 30px 30px 30px 40px
	+shadow(0, 1px, 4px, 0 ,rgba(0, 0, 0, 0.26))
	
	p
		font-size: 30px
		text-align: center
		color: #fff
		font-family: "Roboto", sans-serif
		
		span
			font-size: 36px
	a
		text-decoration: none

.sidebar-primary .widget_nav_menu
	padding-bottom: 0 !important
	
	h1.widget-title
		margin-bottom: 30px

	> div
		margin-top: -15px

	.menu
		list-style-type: none
		margin-left: -15px
		padding: 0
		margin-right: -15px
		margin-bottom: 0
		
		li
			border-bottom: 1px solid #bdbdbd
			
			&:hover
				background: ($main-color !important)
				color: #FFF !important
	
			@media  (max-width: 767px)
				text-align: center
			
			a
				display: block
				padding: 15px 16px
				font-size: 18px
				color: $footer-top-bg
				font-family: "Roboto", sans-serif
				text-decoration: none
				
				&:hover
					color: currentColor
				
			&:last-child
				border-bottom: none
	
			&:nth-child(odd) 
				background: $body-color